<div class="container-fluid">
  <div class="jumbotron">
    <p>I am a simple guy. I like to build a lot of things including tech, cars, and houses. I am always trying to learn something new. I have way too many house plants for a sane person and during the summer I love to grow produce and flowers.</p>
    <hr>
    <div id="contactSection" class="center-block">
      <p>Contact Me</p>
      <a href="https://github.com/murp9702" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/brennen-murphy/" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
