<section class="project-section content-section text-center">
  <div class="container-fluid bg-4">

    <div class="row">
      <div class="col-sm-6">
        <h3>The skills that pay the bills<br> (ie. the tech I use):</h3>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-6">
          <ul>
            <li>JavaScript</li>
            <li>Mongoose</li>
            <li>Vue</li>
            <li>Express</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li>Node</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>BootStrap</li>
          </ul>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-6">
        <h3>Things I am Learning:</h3>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-6">
          <ul>
            <li>React</li>
            <li>Angular</li>
            <li>Security</li>
            <li>OAuth 2.0</li>
          </ul>
        </div>
      </div>
    </div>

    <hr>

  </div>
  <h2>Previous Projects</h2>
  <div class="row">
    <div class="col-sm-6">
      <a href="https://github.com/murp9702/HopToIt-1" target="_blank"><img src="img/hopToItDirections.png" class="img-responsive" style="width:100%"></a>
      <p>Hop To It</p>
      <p>Find local breweries and the most efficient route to your favorites</p>
    </div>
    <div class="col-sm-6">
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x170" class="img-responsive" style="width:100%"></a>
      <p>Gardener</p>
    </div>
  </div>
  </div>

</section>
